<!-- <input type="text" [(ngModel)]="celsius" (ngModelChange)="convertCelsiusToKelvin()" /> -->

<label for="celsius" class="inputTemp">
  <input type="text" min="-273.15" [(ngModel)]="celsius" (ngModelChange)="celsiusToAll()" appDecimalLimit> °C
</label>
<span class="equalSign"> = </span>
<label for="kelvin" class="inputTemp">
  <input type="text" min="0" [(ngModel)]="kelvin" (ngModelChange)="kelvinToAll()" appDecimalLimit> K
</label>
<span class="equalSign"> = </span>
<label for="fahrenheit" class="inputTemp">
  <input type="text" min="-459.67" [(ngModel)]="fahrenheit" (ngModelChange)="fahrenheitToAll()" appDecimalLimit> °F
</label>
