<p>temperature-converter works!</p>

<!-- <input type="text" [(ngModel)]="celsius" (ngModelChange)="convertCelsiusToKelvin()" /> -->

<label for="celsius">
  <input type="text" min="-273.15" [(ngModel)]="celsius" (ngModelChange)="celsiusToAll()" appDecimalLimit> C
</label>
<label for="kelvin">
  <input type="text" [(ngModel)]="kelvin" (ngModelChange)="kelvinToAll()" appDecimalLimit> K
</label>

<label for="fahrenheit">
  <input type="text" [(ngModel)]="fahrenheit" (ngModelChange)="fahrenheitToAll()" appDecimalLimit> F
</label>
